
/* [ -- Master Stylesheet -- ] */
/* ----------------------------------------------------------
:: Template Name: Sonar - Photography Template
:: Author: Colorlib
:: Author URL: https://colorlib.com
:: Version: 1.0
:: Created: March 09, 2018
:: Last Updated: March 09, 2018
---------------------------------------------------------- */
/* Variables */
/* mixin */
/* :: Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
/* :: Import All CSS */
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/owl.carousel.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/themify-icons.css);
/* :: Base CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f2f2f;
  font-weight: 300; }

p {
  color: #565656;
  font-size: 15px;
  line-height: 2;
  font-weight: 100; }

a {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: 700; }
  a:hover, a:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-size: 12px;
    font-weight: 400; }

#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #232323;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000000; }

#sonar-load {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #f8f5f5;
  -webkit-animation: sonar 2400ms linear infinite;
  animation: sonar 2400ms linear infinite;
  z-index: 999; }
  #sonar-load:before {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    right: 7.5px;
    bottom: 7.5px;
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #f8f5f5;
    -webkit-animation: sonar 2700ms linear infinite;
    animation: sonar 2700ms linear infinite; }
  #sonar-load:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #f8f5f5;
    -webkit-animation: sonar 1800ms linear infinite;
    animation: sonar 1800ms linear infinite; }

@-webkit-keyframes sonar {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes sonar {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

.sonar-table {
  display: table;
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0; }

.sonar-table-cell {
  display: table-cell;
  vertical-align: middle; }

.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-100 {
  margin-top: 100px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-50 {
  margin-bottom: 50px; }

.ml-15 {
  margin-left: 15px; }

.ml-30 {
  margin-left: 30px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-100 {
  margin-bottom: 100px; }

.mt-230 {
  margin-top: 230px; }
  @media only screen and (max-width: 767px) {
    .mt-230 {
      margin-top: 100px; } }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-transparent {
  background-color: transparent; }

.font-bold {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.height-500 {
  height: 500px !important; }

.height-600 {
  height: 600px !important; }

.height-700 {
  height: 700px !important; }

.height-800 {
  height: 800px !important; }

.mfp-wrap {
  z-index: 100000; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #ffffff;
  right: -30px;
  padding-right: 0;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  top: 10px; }

#scrollUp {
  background-color: #232323;
  border-radius: 50%;
  bottom: 60px;
  right: 60px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 30px;
  height: 70px;
  text-align: center;
  width: 70px;
  line-height: 66px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  #scrollUp:hover {
    background-color: #192a56; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #scrollUp {
      bottom: 30px;
      right: 30px;
      height: 50px;
      width: 50px;
      line-height: 46px; } }
  @media only screen and (max-width: 767px) {
    #scrollUp {
      bottom: 30px;
      right: 30px;
      height: 50px;
      width: 50px;
      line-height: 46px; } }

.section-padding-100 {
  padding: 100px 0; }

.section-padding-50 {
  padding: 50px 0; }

.section-padding-50-0 {
  padding: 50px 0 0 0; }

.section-padding-100-70 {
  padding: 100px 0 70px; }

.section-padding-100-50 {
  padding: 100px 0 50px; }

.section-padding-100-0 {
  padding: 100px 0 0; }

.section-padding-0-100 {
  padding: 0 0 100px; }

.section-padding-100-20 {
  padding: 100px 0 20px 0; }

.bg-gray {
  background-color: #f8f5f5; }

.nicescroll-rails {
  z-index: 999999 !important; }

.section-heading {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  z-index: 1; }
  .section-heading .line {
    width: 100px;
    height: 1px;
    background-color: #232323;
    margin-bottom: 30px;
    display: block; }
  .section-heading h2 {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 100;
    line-height: 1.5; }
    .section-heading h2 span {
      font-weight: 400; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 30px; } }

.sonar-btn {
  position: relative;
  z-index: 1;
  min-width: 180px;
  height: 66px;
  border: 1px solid;
  border-color: #2f2f2f;
  text-transform: uppercase;
  color: #2f2f2f;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 0;
  line-height: 64px;
  padding: 0;
  background-color: #ffffff; }
  .sonar-btn:hover, .sonar-btn:focus {
    background-color: #2f2f2f;
    font-size: 12px;
    color: #ffffff; }
  .sonar-btn.white-btn {
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent; }
    .sonar-btn.white-btn:hover, .sonar-btn.white-btn:focus {
      background-color: #ffffff;
      color: #2f2f2f; }
  .sonar-btn.btn-2 {
    background-color: #2f2f2f;
    font-size: 12px;
    color: #ffffff; }
  .sonar-btn.btn-3 {
    background-color: #232323;
    color: #ffffff; }
    .sonar-btn.btn-3::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid;
      border-color: #232323;
      right: -6px;
      bottom: -6px;
      content: '';
      z-index: -100; }
    .sonar-btn.btn-3:hover, .sonar-btn.btn-3:focus {
      background-color: #232323;
      color: #ffffff; }

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    opacity: 0.85;
    content: ''; }

.bg-overlay-black {
  position: relative;
  z-index: 1; }
  .bg-overlay-black::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.85;
    content: ''; }

.bg-overlay-white {
  position: relative;
  z-index: 1; }
  .bg-overlay-white::after {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 241, 255, 0.5);
    content: ''; }

.slide-background-overlay {
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%; }
  .slide-background-overlay::after {
    content: '';
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0) 100%); }

.grids {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .grids div {
    width: 1px;
    height: 100%;
    background-color: #e0e3e4; }
    .grids div:nth-child(5) {
      background-color: #bababa; }
    .grids div:first-child, .grids div:last-child {
      background-color: transparent; }

/* :: Header Area CSS */
.header-area {
  position: fixed;
  z-index: 995;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: transparent;
  padding: 15px 30px; }
  .header-area .logo-area a {
    color: #ffffff;
    font-size: 36px;
    font-weight: 100; }
    @media only screen and (max-width: 767px) {
      .header-area .logo-area a {
        font-size: 24px; } }
  .header-area .menu-content-area .header-social-area {
    margin-right: 30px; }
    .header-area .menu-content-area .header-social-area a {
      font-size: 18px;
      padding: 0 10px;
      color: #ffffff; }
      @media only screen and (max-width: 767px) {
        .header-area .menu-content-area .header-social-area a {
          padding: 0 5px;
          font-size: 14px; } }
    @media only screen and (max-width: 767px) {
      .header-area .menu-content-area .header-social-area {
        margin-right: 15px; } }
  .header-area.sticky {
    background-color: #232323; }
  @media only screen and (max-width: 767px) {
    .header-area {
      padding: 10px 0; } }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  cursor: pointer; }

.mainMenu {
  position: fixed;
  width: 480px;
  height: 100%;
  top: 0;
  right: -500px;
  background-color: #232323;
  z-index: 99999;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 15px;
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); }
  .mainMenu .closeIcon {
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 9;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition-duration: 750ms;
    transition-duration: 750ms; }
    .mainMenu .closeIcon:hover {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    @media only screen and (max-width: 767px) {
      .mainMenu .closeIcon {
        right: 30px;
        top: 30px; } }
  .mainMenu .logo-area a {
    color: #ffffff;
    font-size: 30px;
    display: block;
    font-weight: 100; }
    @media only screen and (max-width: 767px) {
      .mainMenu .logo-area a {
        font-size: 24px; } }
  .mainMenu .copywrite-text p {
    margin-bottom: 0;
    color: #ffffff; }
    @media only screen and (max-width: 767px) {
      .mainMenu .copywrite-text p {
        font-size: 14px; } }
  .mainMenu .copywrite-text a {
    font-weight: 100;
    color: #ffffff; }
    .mainMenu .copywrite-text a:hover, .mainMenu .copywrite-text a:focus {
      font-size: 14px; }
  .mainMenu .nav-link {
    color: #ffffff;
    font-size: 18px;
    position: relative;
    z-index: 1;
    font-weight: 300;
    padding: 12px 15px; }
    @media only screen and (max-width: 767px) {
      .mainMenu .nav-link {
        font-size: 14px;
        padding: 10px; } }
    .mainMenu .nav-link::after {
      content: '';
      bottom: 0;
      width: 30px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      z-index: 5;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .mainMenu .nav-link:hover::after, .mainMenu .nav-link:focus::after {
      width: 70px;
      background-color: white; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mainMenu {
      padding: 30px 15px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainMenu {
      padding: 30px 15px; } }
  @media only screen and (max-width: 767px) {
    .mainMenu {
      padding: 15px;
      width: 300px; } }

/* :: Menu Open CSS */
.menu-open .mainMenu {
  right: 0; }

/* :: Hero Slides Area CSS */
.hero-slides .single-hero-slide {
  height: 950px;
  position: relative;
  z-index: 1;
  padding: 0 40px 100px;
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  overflow: visible;
  cursor: pointer; }
  .hero-slides .single-hero-slide .hero-slides-content {
    position: relative;
    z-index: 1;
    -webkit-transform: translateY(75%);
    transform: translateY(75%);
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    bottom: 0; }
    .hero-slides .single-hero-slide .hero-slides-content .line {
      width: 100px;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 30px;
      display: block; }
    .hero-slides .single-hero-slide .hero-slides-content h2 {
      color: #ffffff;
      font-weight: 100; }
    .hero-slides .single-hero-slide .hero-slides-content p {
      color: #ffffff;
      margin-bottom: 0;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-top: 140px; }
  .hero-slides .single-hero-slide:hover .hero-slides-content {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  .hero-slides .single-hero-slide:hover p {
    margin-top: 40px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-slides .single-hero-slide {
      height: 800px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-slides .single-hero-slide {
      height: 700px; } }
  @media only screen and (max-width: 767px) {
    .hero-slides .single-hero-slide {
      height: 550px; } }
.hero-slides .owl-dots {
  position: absolute;
  left: 50px;
  bottom: 50px; }
  .hero-slides .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    border: 1px solid #6a6a67;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block; }
    .hero-slides .owl-dots .owl-dot.active {
      border: 1px solid #ffffff;
      background-color: #ffffff; }

/* :: Portfolio Area CSS */
.portfolio-area {
  overflow-x: hidden; }
  .portfolio-area .portfolio-title h2 {
    font-size: 56px;
    text-align: center;
    font-weight: 100; }
    .portfolio-area .portfolio-title h2 span {
      font-weight: 400; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .portfolio-area .portfolio-title h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .portfolio-area .portfolio-title h2 {
        font-size: 30px; } }

.single-portfolio-item {
  position: relative;
  z-index: 1; }
  .single-portfolio-item .backend-content .dots {
    position: absolute;
    z-index: -1;
    top: -100px;
    left: -150px; }
  .single-portfolio-item .backend-content h2 {
    position: absolute;
    font-size: 230px;
    color: #f0f0f0;
    z-index: -10;
    top: -170px;
    right: 40%; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-portfolio-item .backend-content h2 {
        font-size: 170px;
        top: -120px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-portfolio-item .backend-content h2 {
        font-size: 80px;
        top: -50px; } }
    @media only screen and (max-width: 767px) {
      .single-portfolio-item .backend-content h2 {
        font-size: 80px;
        top: -50px; } }
  .single-portfolio-item .portfolio-meta {
    padding-top: 30px; }
    .single-portfolio-item .portfolio-meta p {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 5px; }
    .single-portfolio-item .portfolio-meta h2 {
      font-size: 30px; }
      @media only screen and (max-width: 767px) {
        .single-portfolio-item .portfolio-meta h2 {
          font-size: 24px; } }
  .single-portfolio-item.portfolio-item-2 .backend-content .dots {
    position: absolute;
    z-index: -1;
    top: 0;
    left: auto;
    right: -150px; }
  .single-portfolio-item.portfolio-item-3 .backend-content .dots {
    top: 0;
    left: -200px;
    right: auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .single-portfolio-item.portfolio-item-3 .backend-content h2 {
    top: -180px;
    left: 30%;
    right: auto; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-portfolio-item.portfolio-item-3 .backend-content h2 {
        top: -130px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-portfolio-item.portfolio-item-3 .backend-content h2 {
        top: -90px;
        font-size: 100px; } }
    @media only screen and (max-width: 767px) {
      .single-portfolio-item.portfolio-item-3 .backend-content h2 {
        top: -70px; } }
  @media only screen and (max-width: 767px) {
    .single-portfolio-item.portfolio-item-3 {
      margin-bottom: 100px; } }
  .single-portfolio-item.portfolio-item-4 {
    top: -220px; }
    .single-portfolio-item.portfolio-item-4 .backend-content .dots {
      top: auto;
      bottom: -130px;
      left: 70%;
      right: auto;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    @media only screen and (max-width: 767px) {
      .single-portfolio-item.portfolio-item-4 {
        top: 0;
        margin-bottom: 100px; } }
  .single-portfolio-item.portfolio-item-5 {
    top: -450px;
    height: 0; }
    @media only screen and (max-width: 767px) {
      .single-portfolio-item.portfolio-item-5 {
        top: 0;
        height: auto;
        margin-bottom: 100px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-portfolio-item.portfolio-item-5 {
        top: -230px; } }
  .single-portfolio-item.portfolio-item-6 {
    top: 0;
    height: 0; }
    @media only screen and (max-width: 767px) {
      .single-portfolio-item.portfolio-item-6 {
        height: auto;
        margin-bottom: 100px; } }
  .single-portfolio-item.portfolio-item-7 {
    margin-top: 50px; }
    .single-portfolio-item.portfolio-item-7 .backend-content .dots {
      position: absolute;
      z-index: -1;
      top: auto;
      bottom: 0;
      left: auto;
      right: -150px; }
    .single-portfolio-item.portfolio-item-7 .backend-content h2 {
      top: -180px;
      left: 30%;
      right: auto; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-portfolio-item.portfolio-item-7 .backend-content h2 {
          top: -100px; } }
      @media only screen and (max-width: 767px) {
        .single-portfolio-item.portfolio-item-7 .backend-content h2 {
          top: -60px; } }

/* :: Call to Action Area CSS */
.call-to-action-content {
  text-align: center; }
  .call-to-action-content h2 {
    font-weight: 100;
    font-size: 72px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .call-to-action-content h2 {
        font-size: 55px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .call-to-action-content h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .call-to-action-content h2 {
        font-size: 30px; } }
  .call-to-action-content h5 {
    font-size: 48px;
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .call-to-action-content h5 {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .call-to-action-content h5 {
        font-size: 24px; } }

.sonar-call-to-action-area {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .sonar-call-to-action-area .backEnd-content h2 {
    position: absolute;
    font-size: 230px;
    color: #f0f0f0;
    z-index: -1;
    top: -30px;
    left: -3%; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .sonar-call-to-action-area .backEnd-content h2 {
        font-size: 170px;
        top: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .sonar-call-to-action-area .backEnd-content h2 {
        font-size: 150px;
        top: 0; } }
    @media only screen and (max-width: 767px) {
      .sonar-call-to-action-area .backEnd-content h2 {
        font-size: 100px; } }

/* :: Footer CSS */
.footer-area {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .footer-area .copywrite-text {
    padding: 30px;
    text-align: center; }
    .footer-area .copywrite-text p {
      font-weight: 300;
      margin-bottom: 0; }
    .footer-area .copywrite-text a {
      color: #565656;
      font-weight: 300;
      font-size: 15px; }
      .footer-area .copywrite-text a:hover, .footer-area .copywrite-text a:focus {
        font-size: 15px; }
  .footer-area .backEnd-content .dots {
    position: absolute;
    right: -50px;
    top: 0;
    z-index: -1; }
  .footer-area .backEnd-content h2 {
    position: absolute;
    font-size: 230px;
    color: #f0f0f0;
    z-index: -1;
    top: -50px;
    left: -50px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .footer-area .backEnd-content h2 {
        font-size: 170px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .footer-area .backEnd-content h2 {
        font-size: 120px;
        top: 0; } }
    @media only screen and (max-width: 767px) {
      .footer-area .backEnd-content h2 {
        font-size: 80px;
        top: 0;
        left: -30px; } }

/* :: Hero Area CSS */
.hero-area {
  background-color: #232323;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .hero-area .backEnd-content .dots {
    position: absolute;
    right: -200px;
    top: 50%;
    z-index: -2;
    opacity: 0.1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .hero-area .hero-thumbnail,
  .hero-area .hero-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-width: 50%;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .hero-area .hero-thumbnail,
      .hero-area .hero-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%; } }
  .hero-area .hero-content {
    height: 880px;
    padding: 100px 0; }
    .hero-area .hero-content .line {
      width: 100px;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 30px;
      display: block; }
    .hero-area .hero-content h2 {
      color: #ffffff;
      font-size: 48px;
      margin-bottom: 25px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .hero-area .hero-content h2 {
          font-size: 40px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .hero-area .hero-content h2 {
          font-size: 30px; } }
      @media only screen and (max-width: 767px) {
        .hero-area .hero-content h2 {
          font-size: 30px; } }
    .hero-area .hero-content p {
      color: #ffffff;
      margin-bottom: 30px; }
    .hero-area .hero-content.aboutUs {
      height: 1100px; }
      @media only screen and (max-width: 767px) {
        .hero-area .hero-content.aboutUs {
          height: auto; } }
    @media only screen and (max-width: 767px) {
      .hero-area .hero-content {
        height: auto; } }
  .hero-area .hero-thumbnail.aboutUs::before {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    content: '';
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .hero-area .hero-thumbnail.aboutUs::before {
        display: none; } }
  @media only screen and (max-width: 767px) {
    .hero-area .hero-thumbnail {
      height: 400px; } }

/* :: Service Area CSS */
.single-services-area {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .single-services-area img {
    margin-bottom: 20px; }
  .single-services-area h4 {
    font-size: 28px;
    margin-bottom: 40px; }
  .single-services-area p {
    margin-bottom: 0; }

/* :: Testimonials Area CSS */
.sonar-testimonials-area {
  position: relative;
  z-index: 1;
  padding: 70px 0;
  margin: 0 50px; }
  .sonar-testimonials-area::before {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    content: ''; }
  .sonar-testimonials-area .testimonial-content {
    padding: 100px 80px 100px 200px;
    position: relative;
    z-index: 1;
    left: -15px;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.15); }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .sonar-testimonials-area .testimonial-content {
        padding: 100px 80px 100px 130px; } }
    @media only screen and (max-width: 767px) {
      .sonar-testimonials-area .testimonial-content {
        padding: 50px 15px 50px 15px; } }
  .sonar-testimonials-area .single-tes-slide p {
    margin-bottom: 40px;
    font-style: italic; }
  .sonar-testimonials-area .single-tes-slide h6 {
    margin-bottom: 0;
    font-style: italic; }
  .sonar-testimonials-area .owl-dots {
    position: absolute;
    top: 0;
    left: -100px;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .sonar-testimonials-area .owl-dots .owl-dot {
      width: 8px;
      height: 8px;
      border: 1px solid #6a6a67;
      border-radius: 50%;
      margin: 8px 0;
      display: block; }
      .sonar-testimonials-area .owl-dots .owl-dot.active {
        border-color: #232323;
        background-color: #232323; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .sonar-testimonials-area .owl-dots {
        top: 20%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .sonar-testimonials-area .owl-dots {
        top: 30%; } }
    @media only screen and (max-width: 767px) {
      .sonar-testimonials-area .owl-dots {
        display: none; } }
  @media only screen and (max-width: 767px) {
    .sonar-testimonials-area {
      margin: 0 15px; } }

/* :: Portfolio Area CSS */
.sonar-projects-area {
  position: relative;
  z-index: 1;
  padding: 100px 35px 50px; }
  .sonar-projects-area .single_gallery_item {
    position: relative;
    z-index: 1;
    margin-bottom: 50px; }
    .sonar-projects-area .single_gallery_item .gallery-content {
      padding-top: 30px; }
      .sonar-projects-area .single_gallery_item .gallery-content h4 {
        margin-bottom: 10px; }
        @media only screen and (max-width: 767px) {
          .sonar-projects-area .single_gallery_item .gallery-content h4 {
            font-size: 20px; } }
      .sonar-projects-area .single_gallery_item .gallery-content p {
        margin-bottom: 0; }

.sonar-portfolio-menu {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 50%;
  z-index: 100; }
  .sonar-portfolio-menu .btn {
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid;
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
    border-radius: 0;
    margin: 0 20px; }
    .sonar-portfolio-menu .btn.active {
      border-color: #ffffff; }
    .sonar-portfolio-menu .btn:hover, .sonar-portfolio-menu .btn:focus {
      box-shadow: none; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .sonar-portfolio-menu .btn {
        margin: 0 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .sonar-portfolio-menu .btn {
        margin: 0 5px;
        font-size: 14px; } }
    @media only screen and (max-width: 767px) {
      .sonar-portfolio-menu .btn {
        margin: 0 5px;
        font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .sonar-portfolio-menu {
      width: 100%;
      bottom: 20px; } }

/* :: Blog Area CSS */
.sonar-blog-area,
.sonar-contact-area {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .sonar-blog-area .backEnd-content .dots,
  .sonar-contact-area .backEnd-content .dots {
    position: absolute;
    top: -50px;
    right: -200px; }

.single-blog-area {
  position: relative;
  z-index: 1; }
  .single-blog-area .blog-post-thumbnail {
    position: relative;
    z-index: 1; }
    .single-blog-area .blog-post-thumbnail .post-date a {
      position: absolute;
      width: 45px;
      height: auto;
      padding: 15px 10px;
      background-color: #000;
      top: -20px;
      left: 25px;
      font-weight: 100;
      color: #ffffff;
      text-align: center;
      line-height: 2;
      font-size: 15px; }
      .single-blog-area .blog-post-thumbnail .post-date a:hover, .single-blog-area .blog-post-thumbnail .post-date a:focus {
        font-weight: 100;
        font-size: 15px; }
  .single-blog-area .post-content {
    padding-top: 60px; }
    .single-blog-area .post-content .headline {
      font-size: 28px;
      margin-bottom: 5px;
      font-weight: 300;
      color: #2f2f2f; }
      .single-blog-area .post-content .headline:hover, .single-blog-area .post-content .headline:focus {
        font-weight: 300; }
    .single-blog-area .post-content .post-meta {
      margin-bottom: 50px; }
      .single-blog-area .post-content .post-meta a {
        font-size: 12px;
        font-weight: 500;
        color: #2f2f2f; }
        .single-blog-area .post-content .post-meta a:hover, .single-blog-area .post-content .post-meta a:focus {
          font-size: 12px;
          font-weight: 500; }
    .single-blog-area .post-content p {
      margin-bottom: 0; }

.search-widget-area form {
  position: relative;
  z-index: 1; }
  .search-widget-area form input {
    width: 100%;
    height: 42px;
    font-size: 12px;
    font-style: italic;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #f3f4fa;
    padding: 0 15px;
    background-color: transparent; }
  .search-widget-area form button {
    width: 50px;
    height: 42px;
    background-color: #232323;
    color: #ffffff;
    font-size: 16px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }

.sonar-catagories-widget-area h6 {
  margin-bottom: 15px; }
.sonar-catagories-widget-area .catagories-menu li a {
  padding: 10px 0 10px 40px;
  font-size: 12px;
  font-weight: 300;
  color: #565656;
  display: block; }

.latest-news-widget-area h6 {
  margin-bottom: 25px; }
.latest-news-widget-area .widget-single-blog-post {
  margin-bottom: 30px; }
  .latest-news-widget-area .widget-single-blog-post .widget-post-content a {
    font-size: 15px;
    color: #2f2f2f;
    margin-bottom: 5px;
    font-weight: 300; }
    .latest-news-widget-area .widget-single-blog-post .widget-post-content a:hover, .latest-news-widget-area .widget-single-blog-post .widget-post-content a:focus {
      font-size: 15px;
      font-weight: 300; }
  .latest-news-widget-area .widget-single-blog-post .widget-post-content p {
    font-size: 12px;
    margin-bottom: 0; }

/* :: Contact Area CSS */
.contact-form h2 {
  font-size: 72px;
  margin-bottom: 15px;
  font-weight: 100; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-form h2 {
      font-size: 55px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-form h2 {
      font-size: 36px; } }
  @media only screen and (max-width: 767px) {
    .contact-form h2 {
      font-size: 30px; } }
.contact-form h4 {
  font-size: 48px;
  margin-bottom: 80px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-form h4 {
      font-size: 30px; } }
  @media only screen and (max-width: 767px) {
    .contact-form h4 {
      font-size: 24px; } }
.contact-form .form-group {
  margin-bottom: 30px; }
.contact-form .form-control {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  border: none;
  border-bottom: 1px solid;
  border-color: #c0c0c0;
  border-radius: 0;
  font-size: 12px;
  font-style: italic;
  color: #2f2f2f;
  background-color: transparent; }
  .contact-form .form-control:focus, .contact-form .form-control:hover {
    box-shadow: none; }
.contact-form textarea {
  margin-bottom: 50px; }
  .contact-form textarea.form-control {
    height: 220px;
    padding: 15px; }

.map-area {
  position: relative;
  z-index: 1;
  margin: 0 50px; }
  .map-area #googleMap {
    width: 100%;
    height: 540px; }
    @media only screen and (max-width: 767px) {
      .map-area #googleMap {
        height: 400px; } }
  @media only screen and (max-width: 767px) {
    .map-area {
      margin: 0 20px; } }

/* :: About Area CSS */
.sonar-about-us-area {
  position: relative;
  z-index: 1;
  padding: 120px 0;
  overflow: hidden; }
  .sonar-about-us-area::after {
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    position: absolute;
    z-index: -5; }
  .sonar-about-us-area.second-part {
    position: relative;
    padding: 120px 0; }
    .sonar-about-us-area.second-part::after {
      content: "";
      width: 50%;
      height: 100%;
      top: 0;
      left: auto;
      right: 0;
      background-color: #ffffff;
      position: absolute;
      z-index: -5; }
  .sonar-about-us-area .about-us-content {
    padding: 15px 100px 100px;
    margin-left: 100px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .sonar-about-us-area .about-us-content {
        padding: 15px 30px 100px;
        margin-left: 50px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .sonar-about-us-area .about-us-content {
        margin-left: 0; } }
    @media only screen and (max-width: 767px) {
      .sonar-about-us-area .about-us-content {
        margin-left: 0;
        padding: 15px 20px 100px; } }
  .sonar-about-us-area .backEnd-content h2 {
    position: absolute;
    font-size: 230px;
    color: #f0f0f0;
    z-index: -1;
    top: -130px;
    left: -10%; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .sonar-about-us-area .backEnd-content h2 {
        font-size: 170px;
        top: -90px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .sonar-about-us-area .backEnd-content h2 {
        font-size: 100px;
        top: -30px;
        left: -5%; } }
    @media only screen and (max-width: 767px) {
      .sonar-about-us-area .backEnd-content h2 {
        font-size: 60px;
        top: 0; } }
  .sonar-about-us-area.second-part {
    overflow: hidden; }
    .sonar-about-us-area.second-part .about-us-content {
      padding: 100px;
      margin-left: 0;
      margin-right: 100px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .sonar-about-us-area.second-part .about-us-content {
          margin-right: 0; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .sonar-about-us-area.second-part .about-us-content {
          margin-right: 0; } }
      @media only screen and (max-width: 767px) {
        .sonar-about-us-area.second-part .about-us-content {
          margin-right: 0;
          padding: 100px 20px 70px; } }
    .sonar-about-us-area.second-part .backEnd-content h2 {
      top: -100px;
      left: auto;
      right: -50px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .sonar-about-us-area.second-part .backEnd-content h2 {
          font-size: 100px;
          top: 0;
          left: auto;
          right: 0; } }

/* :: Shortcode Area CSS */
.elements-title h2 {
  text-transform: capitalize;
  font-size: 48px;
  margin-bottom: 100px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .elements-title h2 {
      font-size: 30px; } }
  @media only screen and (max-width: 767px) {
    .elements-title h2 {
      font-size: 28px; } }

/* Accordians */
.single-accordion.panel {
  background-color: #ffffff;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 transparent;
  margin-bottom: 15px; }
.single-accordion:last-of-type {
  margin-bottom: 0; }
.single-accordion h6 {
  margin-bottom: 0;
  text-transform: uppercase; }
  .single-accordion h6 a {
    background-color: #1d1d1d;
    border-radius: 0;
    color: #ffffff;
    display: block;
    margin: 0;
    padding: 20px 60px 20px 20px;
    position: relative;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500; }
    .single-accordion h6 a span {
      font-size: 10px;
      position: absolute;
      right: 20px;
      text-align: center;
      top: 24px; }
      .single-accordion h6 a span.accor-open {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0); }
    .single-accordion h6 a.collapsed {
      background-color: #2f2f2f;
      color: #ffffff; }
      .single-accordion h6 a.collapsed span.accor-close {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0); }
      .single-accordion h6 a.collapsed span.accor-open {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100); }
.single-accordion .accordion-content {
  border-top: 0 solid transparent;
  box-shadow: none; }
  .single-accordion .accordion-content p {
    padding: 20px 15px 5px;
    margin-bottom: 0; }

/* Cool Facts CSS */
.single-cool-fact-area {
  text-align: center; }
  .single-cool-fact-area i {
    font-size: 100px;
    color: #2f2f2f;
    margin-bottom: 30px;
    display: block; }
  .single-cool-fact-area img {
    margin-bottom: 30px; }
  .single-cool-fact-area h2 {
    font-size: 48px;
    margin-bottom: 5px; }
  .single-cool-fact-area p {
    margin-bottom: 0; }

/* Barfiller */
.single_progress_bar {
  margin-bottom: 20px; }
  .single_progress_bar:last-of-type {
    margin-bottom: 0; }
  .single_progress_bar p {
    margin-bottom: 0; }
  .single_progress_bar .barfiller {
    background-color: #e0e0e0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    width: 100%; }
    .single_progress_bar .barfiller .fill {
      display: block;
      position: relative;
      width: 0px;
      height: 100%;
      background-color: #1d1d1d;
      z-index: 1; }
    .single_progress_bar .barfiller .tip {
      margin-top: 10px;
      font-size: 14px;
      left: 0px;
      position: absolute;
      z-index: 2;
      background-color: #1d1d1d;
      color: #ffffff;
      width: 60px;
      height: 32px;
      text-align: center;
      line-height: 32px; }
    .single_progress_bar .barfiller .tipWrap {
      display: none; }

.single-pie-bar p {
  margin-bottom: 0;
  font-weight: 300;
  color: #2f2f2f; }
@media only screen and (max-width: 767px) {
  .single-pie-bar {
    margin-bottom: 30px; } }

/* The end */

/*# sourceMappingURL=style.css.map */
